// 样式规范
$min-width: 1000px; //页面主体部分最小宽度

// 字体大小设置


// 常规颜色配置
$theme-color:    #409EFF !default;   //element原生蓝，主题色及按钮色
$bg-color:       #d9ecff !default;   //背景蓝
$font-color-footer: #969595 !default;   //注脚的字体颜色
$divider-color:     #DCDFE6 !default;  //分割线颜色

